{% extends "catalog/base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if authors %}
    <ul>
      {% for author in authors %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }},{{author.first_name}} </a>
        ({{author.date_of_birth}} - {{author.date_of_death}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}

